
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: system-ui;
   

}
table{
    width: 1200px;
}
div{
    align-content: center;
}
td{
    /* font-size: small; */
    /* width: 20px;
    height: 20px; */
}
table{
    text-align: center;
    border-radius: 30px;
    box-shadow: -4px 4px 9px 9px grey;
    border: none;
}
table td{
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px grey,-2px -2px 3px grey;
}
/* .rr{
    width: 110px;
}
  */